/*barra seleccionable de item con id*/
.item-seleccionable[id="Inactivo"] {
    background-color: var(--color-primario);
    color: var(--color-texto-claro);
    height: fit-content;
    width: 100px;
}

.item-seleccionable[id="seleccionado"]:hover {
    background-color: var(--color-primario-oscuro);
    color: var(--color-texto-claro);
}

/*barra de item*/
