* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 40px 20px;
}

.buttons{
    margin-left: 70%;
}

.service-button {
  background: none;
  border: none;
  padding: 0;
}

/* 2. Estilo cuando la tarjeta está seleccionada */
.service-card.selected {
  border: 2px solid #0ea5e9; /* Borde azul vibrante */
  background-color: #f0f9ff; /* Fondo sutilmente azul */
  box-shadow: 0 8px 20px rgba(14, 165, 233, 0.2); /* Sombra resaltada */
  transform: translateY(-3px); /* Pequeña elevación */
  transition: all 0.2s ease-in-out;
}

.services-container {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

.services-title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #343a40;
    margin-bottom: 40px;
    text-align: left;
}

.services-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #6c757d;
    margin-bottom: 30px;
    text-align: left;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 2, 1fr);
    gap: 20px;
    padding: 20px;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 30px;
    width: 200px;
    height: 180px;
    text-align: center;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1rem;
    font-weight: 500;
    color: #495057;
}

.card-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    background-color: #ffffff;
}
/**/
/* CONTENEDOR GENERAL */
.react-calendar {
    max-width: 350px;
    margin: auto;
    padding: 16px;
    border-radius: 12px;
    border: none;
    background: #ffffff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    font-family: inherit;
}

/* HEADER (MES / AÑO) */
.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.react-calendar__navigation button {
    font-size: 1.3rem;
    padding: 8px 14px;
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

.react-calendar__navigation button:hover {
    background: rgba(18, 130, 106, 0.12);
    border-radius: 10px;
}

.react-calendar__navigation__next-button{
    font-size: 1.3rem;
    color: var(--color-primary);
    margin-right: 8px;
    font-size: 0.75rem;
    margin-left: 4px;
}

.react-calendar__navigation__next-button::after{
    content: 'Mes';
}

.react-calendar__navigation__next2-button::after{
    content: 'Año';
}

.react-calendar__navigation__next2-button{
    font-size: 1.6rem;
    margin-left: 4px;
    color: var(--color-primary);
}

.react-calendar__navigation__label {
    background: transparent;
    border: none;
    box-shadow: none;
    text-transform: capitalize;
    font-size: 1.25rem;
}

.react-calendar__navigation button:disabled {
    display: none;
}

.react-calendar__month-view__days{
    display: grid;
    grid-template-columns: repeat(7,1 fr);
    gap: 6px;
}

/* NOMBRES DE LOS DÍAS */
.react-calendar__month-view__weekdays {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #777;
}

.react-calendar__month-view__weekdays abbr {
    text-decoration: none;
}

/* DÍAS */
.react-calendar__tile {
    padding: 10px 6px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: all 0.2s ease;
    color: var(--color-text-dark);
}

/* DÍA ACTUAL */
.react-calendar__tile--now {
    background: rgba(18, 130, 106, 0.18);
    color: var(--color-primary);
    font-weight: bold;
}

/* DÍA SELECCIONADO */
.react-calendar__tile--active {
    background: var(--color-primary);
    color: var(--color-text-light);
    border-color: var(--color-primary);
    border-radius: 8px;
}

/* DÍAS DESHABILITADOS */
.react-calendar__tile:disabled {
    background-color: #f0f0f0;
    color: #aaa;
}

/* ELIMINA BORDES INTERNOS */
.react-calendar__tile:focus {
    outline: none;
}

/**/

.icon {
    display: block;
    width: 50px;
    height: 50px;
    background-color: currentColor;
    border-radius: 50%;
}

.icon-menu {
  width: 128px;
  height: 128px;
}

.var-progress {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.var-progress::-webkit-progress-bar {
    background-color: #e0e7ee;
}

.card-ortopedico { border: 1px solid #e9f5e9; }
.card-ortopedico .card-icon-wrapper { border-color: #38a169; background-color: #f7fcf8; }
.card-ortopedico .icon { color: #38a169; } /* Color del icono */

.card-unas { border: 1px solid #fcf4e9; }
.card-unas .card-icon-wrapper { border-color: #d97706; background-color: #fffaf4; }
.card-unas .icon { color: #d97706; }

.card-rayosx { border: 1px solid #e6f0fa; }
.card-rayosx .card-icon-wrapper { border-color: #3b82f6; background-color: #f8fbfd; }
.card-rayosx .icon { color: #3b82f6; }

.card-diabetico { border: 1px solid #eaf3f8; }
.card-diabetico .card-icon-wrapper { border-color: #5a0c6e; background-color: #f7f9fa; }
.card-diabetico .icon { color: #5a0c6e; }

.card-consulta { border: 1px solid #ebf5fa; }
.card-consulta .card-icon-wrapper { border-color: #0ea5e9; background-color: #f8fbfe; }
.card-consulta .icon { color: #0ea5e9; }

.card-quiropodia { border: 1px solid #fae6e6; }
.card-quiropodia .card-icon-wrapper { border-color: #ef4444; background-color: #fef8f8; }
.card-quiropodia .icon { color: #ef4444; }

@media (max-width: 900px) {
    .services-grid {
        grid-template-columns: repeat(3, 2, 1fr);

    }

    .service-card{
        width: 150px;
    }
}

.time-section {
    margin-top: 20px;
    padding: 16px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.06);
}

.time-title {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: var(--color-text-dark);
}

/* GRID DE HORAS */
.time-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* SLOT DE HORA */
.time-slot {
    padding: 10px 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--color-text-dark);
}

/* Hover */
.time-slot:hover {
    background: rgba(18, 130, 106, 0.12);
    border-color: var(--color-primary);
}

/* Hora seleccionada */
.time-slot.active {
    background: var(--color-primary);
    color: var(--color-text-light);
    border-color: var(--color-primary);
}

/* Horas no disponibles */
.time-slot.disabled {
    background: #f0f0f0;
    color: #aaa;
    cursor: not-allowed;
    border-color: #ddd;
}

/* Domingo */
.closed-message {
    text-align: center;
    font-weight: bold;
    color: #999;
    margin-top: 10px;
}
